<div class = "container-fluid mt-4">
  <div class = "card">
    <div class = "card-body">
      <h3 class= "display-3 text-danger mb-4">Wystąpił błąd</h3>
      <hr>
      <p class = "h5">Nie ma takiej strony.</p>
      <hr>
      <a href = "../../" class = "btn btn-big btn-outline-secondary">Powrót</a>
    </div>
  </div>
</div>
