<form>
  <input type = "text" name = "nickname" required>
  <input type = "email" name = "email" required>
  <input type = "password" name = "password" required>
  <input type = "password" name = "repeatPassword" required>
  <button type = "submit">Zarejestruj się</button>
</form>

<form>
  <input type = "email" name = "email" required>
  <input type = "password" name = "password" required>
  <button type = "submit">Zaloguj się</button>
</form>
