<div class = "container-fluid mt-4">
  <div class = "row">
    <div class = "col">
      <div class = "card mb-5">
        <div class = "card-body">
          <h2 class= "display-3">Rejestracja</h2>
          <br>
          <div class = "input-group">
            <input type = "text" id = "nickname" class="form-control" placeholder = "Nazwa użytkownika">
          </div>
          <br>
          <div class = "input-group">
            <input type = "text" id = "email" class="form-control" placeholder = "Email">
          </div>
          <br>
          <div class = "input-group">
            <input type = "password" id = "password" class="form-control" placeholder = "Hasło">
          </div>
          <br>
          <div class = "input-group">
            <input type = "password" id = "passwordRepeat" class="form-control" placeholder = "Powtórz hasło">
          </div>
          <br>
          <div class = "input-group">
            <button class = "btn btn-outline-primary" onclick = "handleRegister()">Zarejestruj się</button>
          </div>
          <div id = "alertContainer"></div>
        </div>
      </div>
    </div>
    <div class = "col">
      <div class = "card">
        <div class = "card-body">
          <h2 class = "display-3">Logowanie</h2>
          <br>
          <div class = "input-group">
            <input type = "email" id = "emailLogin" placeholder = "Email" class="form-control">
          </div>
          <br>
          <div class = "input-group">
            <input type = "password" id = "passwordLogin" placeholder = "Hasło" class="form-control">
          </div>
          <br>
          <div class = "input-group">
            <button class = "btn btn-outline-primary" onclick = "handleLogin()">Zaloguj się</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
