/*INDEX*/
#loadingContainer, #loadingContainerLogin, #loadingContainerAdd {
  display: none;
}

#loadingSpinner, #loadingSpinnerLogin, #loadingSpinnerAdd {
  display: inherit;
  opacity: inherit;
}

/*HOME*/
.inline-header {
  display: inline;
}

#storesContainer {
  display: none;
}
