/*INDEX*/
#loadingContainer, #loadingContainerLogin, #loadingContainerAdd, #pending-container, #receipts-container {
  display: none;
}

#loadingSpinner, #loadingSpinnerLogin, #loadingSpinnerAdd {
  display: inherit;
  opacity: inherit;
}

/*HOME*/
.inline-header {
  display: inline;
}

#storesContainer {
  display: none;
}

/*STORES*/
.margin-bottom-custom {
  display: inline-block;
}

.font-big {
  font-size: 20px;
}